/* main */
.mainContainer {
  padding: 1.5em;
}

/* Container의 wrapper */
.containers {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

/* Container */
.basicContainer2nd,
.basicContainer {
  position: relative;
  background: #232228;
  border-radius: 1em;
  padding: 2em;
  width: fit-content;
  min-height: 70vh;
}

.basicContainer2nd {
  margin-left: 1em;
}

/* 데이터세트 상세정보 */
.detailContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  /* white-space: nowrap; */
}

.detailContent span:first-child {
  color: darkgray !important;
  margin-right: 2em;
}

.detailContent span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* flex */
.flex7 {
  flex: 7;
}
.flex6 {
  flex: 6;
}
.flex5 {
  flex: 5;
}
.flex4 {
  flex: 4;
}
.flex3 {
  flex: 3;
}

.ml1em {
  margin-left: 1em;
}

@media (max-width: 1010px) {
  .containers {
    display: block;
    margin-bottom: 0em;
  }

  .basicContainer,
  .basicContainer2nd {
    width: 100%;
    margin-left: 0em;
    margin-bottom: 1em;
  }

  .detailContent {
    white-space: nowrap;
  }
}
